*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
  }

html {
    height: 100vh;
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 1rem 0;
}

.container {
    border: 1px solid red;
    height: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;

}

.content-container {
    border: 1px solid black;
}

.sidebar {
    border: 1px solid forestgreen;
}

.project-list {
    padding: 5px;
}

.proj-li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.proj-li .btn-danger {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}

.proj-li, .task-li{
    list-style-type: none;
}

.task-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px 5px;
}

.task-li .btn-group {
    display: flex;
    gap: 5px;
}

#project-input-form {
    padding: 5px;
}

.edit-proj {
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

